@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Noto+Sans+KR:wght@300;400&display=swap");
[lang="en"] {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}
[lang="ko"] {
    font-family: "Noto Sans KR", sans-serif;
}
