$main-color: #fff;
$point-color: #fdd835;
$black-color: #0a0a0a;
$blue-color: #29b6f6;
$default-font: "Noto Sans KR", sans-serif;
//size
$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;
